[Desktop Entry]
Name=PyQtAccounts
Exec={}/run.sh
Comment=Simple account database manager.
Terminal=false
Icon={}/img/icon.svg
Type=Application
Name[en_US]=desktop
